<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2lsMUOLe2JKviVjtQebzw8bPtUMca8mg</string>
	<key>GCM_SENDER_ID</key>
	<string>374231400546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoeVargas.HelpDesk</string>
	<key>PROJECT_ID</key>
	<string>helpdesk-6ba28</string>
	<key>STORAGE_BUCKET</key>
	<string>helpdesk-6ba28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374231400546:ios:10777442365e9f45b5513b</string>
</dict>
</plist>